{% extends "base.html" %}
{% block title %} Main {% endblock %}






  {% block content %}
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">
      Project Summary 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <br>
        <p>We have produced a dashboard to visualise Earth and solar data. The dashboard has been designed to be easily extensible and this inital version demonstrates the locations of fireballs observed around the Earth and the location of coronal mass ejections detected for the sun. </p>
        <p>The dashboard would be of use to geologists to view events as they happen. For the limited working example submitted, it's possible to see patterns and trends in the data, along with identifying the part of the Earth where the event occurred which could prove valuable when looking to retrieve samples.</p>
        <p>Explore the Earth and Sun tabs for more info...</p>
        <br>
        <footer class="blockquote-footer"> By Hannah, Varshitha and Belinda</footer>
      </blockquote>
    </div>
  </div>
  {% endblock content %}
  </p>
</body>
</html>