{% extends "base.html" %}
{% block title %} Sun {% endblock %}

{% block content %}



<script src="http://d3js.org/d3.v4.min.js"></script>
<script src="https://unpkg.com/topojson@3"></script>
<script>
    var points = {{ data|safe }};
    var script = document.createElement('script');
    script.src = '/static/index.js';
    script.async = false;
    document.head.appendChild(script);
</script>


<div class="container">
  <div class="panel">

    <h3 id="panel-title">Coronal Mass Ejections</h3>
    <p id="panel-content">Click on a point to learn more</p>


  </div>
  <div class="canvas-container">
    <div class="stars">
  </div>
  <h2 id="current"></h2>
    <div class="clouds">
      <div id="globe_div">

        <canvas id="globe"></canvas>
      </div>
    </div>
  </div>
</div>




{% endblock %}
